<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <title>D Dating Website</title>
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">My Dating Website</a>
</nav>
<div class="container">
    <div class="form-row"> <!-- Main Homepage Information -->
        <div class="form-group col-md-6">
            <h3 class ="text-center">D's Dating Website</h3>
            <p>Welcome to one of the web's most successful dating websites! At
                <strong>D's Dating Website</strong>
                you'll
                other like minded individuals. We have one of the highest rates of success bringing together couples on
                the
                internet. User's are matched by their interests and locations. Find out why so many others have found
                love
                on our site!
            </p>
            <h5 class ="text-center">Hear what our users are saying about us.</h5>
            <p class ="overline quote">"I met the love of my life after only a month!" -Andrew</p>
            <p class = "quote">It was a piece of cake to setup my profile and start meeting new people! - Gary</p>
            <p class = "underline quote">Give it a try, you won't be sorry! -Katie</p>
        </div> <!--About the Website info -->
        <div class ="col-md-6"><!-- Image div-->
            <img src= "../dating/images/home_page_image.jpg" class ="img-fluid rounded" alt ="Home Page Image" >
        </div><!-- Image div-->

    </div><!-- Main Homepage Information -->
</div>


<script src="js/jquery.slim.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>