<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

    <title>Interests</title>

</head>
<body>

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/328/dating/">My Dating Website</a>
</nav>

<div class="container fullBorder mt-5">
    <h2 class="underline mt-3">Interests</h2>
    <div class="form-row">
        <div class="form-group col-md-6">
            <div class="form-group">

            </div>

        </div>

    </div>

</div>


</body>
</html>