<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

    <title>Interests</title>

</head>
<body>

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/328/dating/">My Dating Website</a>
</nav>

<div class="container fullBorder mt-5">
    <form method="post" action="summary">

    <h2 class="underline mt-3">Interests</h2>
    <p><h5>In-door Interests</h5></p>

    <div class="form-row">
        <div class="form-group col-md-3">
            <div class="form-group">
                <div class="form-check ml-3">
                    <input class="form-check-input" name ="inDoor[]" type="checkbox" value="tv" id="tv">
                    <label class="form-check-label" for="tv">
                        tv
                    </label>
                </div>
                <div class="form-check ml-3">
                    <input class="form-check-input" name ="inDoor[]" type="checkbox" value="puzzles" id="puzzles">
                    <label class="form-check-label" for="puzzles">
                        puzzles
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group col-md-3">
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" name ="inDoor[]" type="checkbox" value="movies" id="movies">
                    <label class="form-check-label" for="movies">
                        movies
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" name ="inDoor[]" type="checkbox" value="reading" id="reading">
                    <label class="form-check-label" for="reading">
                        reading
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group col-md-3">
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" name ="inDoor[]" type="checkbox" value="playing cards" id="cards">
                    <label class="form-check-label" for="cards">
                        playing cards
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" name ="inDoor[]"type="checkbox" value="board games" id="board">
                    <label class="form-check-label" for="board">
                        board games
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group col-md-3">
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" name ="inDoor[]" type="checkbox" value="video games" id="video">
                    <label class="form-check-label" for="video">
                        video games
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" name ="inDoor[]" type="checkbox" value="cooking" id="cooking">
                    <label class="form-check-label" for="cooking">
                        cooking
                    </label>
                </div>
            </div>
        </div>

    </div>

    <p><h5>Out-door Interests</h5></p>

    <div class="form-row">
        <div class="form-group col-md-3">
            <div class="form-group">
                <div class="form-check ml-3">
                    <input class="form-check-input" name ="outDoor[]" type="checkbox" value="hiking" id="hiking">
                    <label class="form-check-label" for="hiking">
                        hiking
                    </label>
                </div>
                <div class="form-check ml-3">
                    <input class="form-check-input" name ="outDoor[]" type="checkbox" value="walking" id="walking">
                    <label class="form-check-label" for="walking">
                        walking
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group col-md-3">
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" name ="outDoor[]" type="checkbox" value="biking" id="biking">
                    <label class="form-check-label" for="biking">
                        biking
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" name ="outDoor[]" type="checkbox" value="climbing" id="climbing">
                    <label class="form-check-label" for="climbing">
                        climbing
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group col-md-3">
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" name ="outDoor[]" type="checkbox" value="swimming" id="swimming">
                    <label class="form-check-label" for="swimming">
                        swimming
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group col-md-3">
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" name ="outDoor[]" type="checkbox" value="collecting" id="collecting">
                    <label class="form-check-label" for="collecting">
                        collecting
                    </label>
                </div>
            </div>
        </div>

    </div>
    <!--Adding a button within a form -->
    <div class="text-right mb-3">
            <input class="btn btn-primary text-right" type="submit" id="summary" value="Next >">
    </div>
    </form>



</div>


</body>
</html>