.overline {
    display: block;
     border-top: 1px solid black;
    padding-top: 5px;
 }

.underline {
    display: block;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

.quote {
    font-style: italic ;
    padding-left:  100px;
}

.fullBorder{
    border: 1px solid black;
}

.greybox{
    background-color: grey;
}

.blue{
    color: dodgerblue;
}